.body{
    background-repeat: no-repeat;
    background-size:cover;
}
label{
    color: black;
}
.detailsviewer{
    text-align: center;
    background-color: white;
    width: 40%;
    margin: 0 auto;
    height: fit-content; 
    opacity: 0.9;  
}
#cityname{
    margin-top: 100px;
    margin-bottom: 30px;
}
#units{
    margin-bottom: 30px;
}
#submit{
    margin-bottom: 50px;
}
#temperature{
    color: white;
    font-style: italic;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: black;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
#weather{
    color: whitesmoke;
    font-style: italic;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: black;
    width: fit-content;
    margin: 0 auto;
}
#images{
    background-color: antiquewhite;
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
}
#error{
    color: red;
    text-align: center;
}
@media screen and (max-width: 869px) {
    .body{
        background-repeat: repeat;
    }
    label{
        font-size: medium;
    }
    .detailsviewer{
        width: 60%;
    }
    #temperature{
        font-size: 35px;
    }
    #weather{
        font-size: 25px;
    }
    #images{
        margin-bottom: 100px;
    }
}