.body{
    background-repeat: no-repeat;
}
label{
    color: black;
}
.container {
    text-align: center;
    width: 400px;
    margin-bottom: 10px;
}
.detailsviewer{
    text-align: center;
    background-color: white;
    width: 40%;
    margin: 0 auto;
    height: fit-content; 
    opacity: 0.9;  
}
#cityname{
    margin-top: 100px;
    margin-bottom: 30px;
}
#units{
    margin-bottom: 30px;
}
#submit{
    margin-bottom: 50px;
}
#temperature{
    font-style: italic;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
#weather{
    font-style: italic;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    width: fit-content;
    margin: 0 auto;
}
#images{
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
#error{
    color: red;
    text-align: center;
}
#addClass{
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}
@media screen and (max-width: 869px) {
    .body{
        background-repeat: no-repeat;
        height: 100vh;
        background-position: -200px -130px;
    }
    label{
        font-size: medium;
        }
    .detailsviewer{
        width: 80%;
    }
    #temperature{
        font-size: 35px;
    }
    #weather{
        font-size: 25px;
    }
    #images{
        margin-bottom:auto;
    }
    #cityname{
        margin-top: 50px;
    }
}